<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation" class="alert alert-danger fonts">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle-o"></i></span></button>
      
      <% @comment.errors.full_messages.each do |message| %>
        <% if message == "Description can't be blank" %>
          O campo <strong>Descrição</strong> não pode ficar em branco.<br>
        <% elsif message == "Description muito longa." %>
          O campo <strong>Descrição</strong> não pode conter mais que 300 caracteres.<br>
        <% else %>
          <%= message %><br>
        <% end %>
      <% end %>
    </div>
  <% end %>
<div class="form_size">
  <div class="form-group">
    <%= f.text_area :description, :class => 'form-control', placeholder: 'Descrição', rows: 15, onKeyDown: 'showCaracteresComments()', onKeyUp: "showCaracteresComments()" %>
    <input type="text" name='caracteres' size='4' class="col-md-offset-11" style="border-color: transparent; margin-top: 5px;" readonly>
    <%= f.hidden_field :user_id, :class => 'form-control', placeholder: 'Descrição', :value => current_user.id %>
    <%= f.hidden_field :order_id, :class => 'form-control', placeholder: 'Descrição', :value => @order %>
  </div>
  <center>
    <div class="actions">
      <div class="btn-group btn-group-xs" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <%= f.submit 'Salvar', :class => 'btn btn-danger' %> 
        </div>
        <% if current_user.tipo == 'Solicitante' %>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-danger" onclick="window.location.href='<%= comments_path %>'"><i class="fa fa-undo"></i> Voltar</button>
        </div>
        <% else %>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-danger" onclick="window.location.href='<%= order_path(@order) %>'"><i class="fa fa-undo"></i> Voltar</button>
        </div>
        <% end %>
      </div>
    </div>
  </center>
</div>
<% end %>

