<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form_size">
  <div class="form-group">
    <%= f.label :Nome %><br>
    <%= f.text_field :name, :class => 'form-control'  %>
  </div>
  <div class="form-group">
    <%= f.label :Email %><br>
    <%= f.text_field :email, :class => 'form-control'  %>
  </div>
  <div class="form-group">
    <%= f.label :CPF %><br>
    <%= f.text_field :cpf, :class => 'form-control'  %>
  </div>
  <div class="form-group">
    <%= select :user, :tipo, [['Solicitante'], ['Funcionário']], :class => 'selectpicker' %>
  </div>
  <div class="actions">
    <div class="btn-group btn-group-xs" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <%= f.submit 'Salvar usuário', :class => 'btn btn-danger'%>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-danger" onclick="window.location.href='<%= users_path %>'"><i class="fa fa-undo"></i> Voltar</button>
      </div>
    </div>
  </div>
<% end %>
