                <% if notice %>
                    <center>
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <%= notice %>
                        </div>
                    </center>
                <% end %>
                <div class="col-lg-3 col-md-6 col-md-offset-0">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-user fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= @users %></div>
                                    <div>Usuários</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <span class="text-success">Usuários cadastrados.</span>  
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-md-offset-0">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-desktop fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= @machines %></div>
                                    <div>Maquinas</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <span class="text-info">Maquinas cadastradas.</span>  
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-envelope-o fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= @chamados %></div>
                                    <div>Chamados</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <span class="text-warning">Chamadas cadastradas.</span>  
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-wrench fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= @funcionarios %></div>
                                    <div>Funcionários</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <span class="text-warning">Funcionários cadastrados.</span>  
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
<!-- Painel de chamados pendentes -->
<div class="col-md-12">
    <div class="panel panel-yellow">
      <div class="panel-heading MyFont"><h4><center>Chamados Pendentes</center></h4></div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Local</th>
            <th>Data</th>
            <th>Status</th>
            <th>Ver</th>
          </tr>
        </thead>
      
        <tbody>
          <% @current_order.each do |order| %>
            <% if order.status == 'Pendente' %>
            <tr>
              <td><%= order.id %></td>
              <td><%= order.title %></td>
              <td><%= order.local %></td>
              <td><%= order.created_at.strftime("%m/%d/%Y") %></td>
              <td><%= order.status %></td>
              <td>
                <%= link_to '<i class="fa fa-plus-square-o"></i>'.html_safe, order_path(order), id: "Ver chamado", style: "color: black;" %>
              </td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
</div>
<!-- Final de painel de chamados pendentes -->
<!-- Painel de chamados ativos -->
<div class="col-md-12">
    <div class="panel panel-green">
      <div class="panel-heading MyFont"><h4><center>Chamados Ativos</center></h4></div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Local</th>
            <th>Data</th>
            <th>Status</th>
            <th>Ver</th>
          </tr>
        </thead>
      
        <tbody>
          <% @current_order.each do |order| %>
            <% if order.status == 'Ativo' %>
            <tr>
              <td><%= order.id %></td>
              <td><%= order.title %></td>
              <td><%= order.local %></td>
              <td><%= order.created_at.strftime("%m/%d/%Y") %></td>
              <td><%= order.status %></td>
              <td>
                <%= link_to '<i class="fa fa-plus-square-o"></i>'.html_safe, order_path(order), id: "Ver chamado", style: "color: black;" %>
              </td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
</div>
<!-- Final de painel de chamados ativos -->
<!-- Painel de chamados encerrados -->
<div class="col-md-12">
    <div class="panel panel-red">
      <div class="panel-heading MyFont"><h4><center>Chamados Encerrados</center></h4></div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Local</th>
            <th>Data</th>
            <th>Status</th>
            <th>Ver</th>
          </tr>
        </thead>
      
        <tbody>
          <% @current_order.each do |order| %>
            <% if order.status == 'Encerrado' %>
            <tr>
              <td><%= order.id %></td>
              <td><%= order.title %></td>
              <td><%= order.local %></td>
              <td><%= order.created_at.strftime("%m/%d/%Y") %></td>
              <td><%= order.status %></td>
              <td>
                <%= link_to '<i class="fa fa-plus-square-o"></i>'.html_safe, order_path(order), id: "Ver chamado", style: "color: black;" %>
              </td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
</div>
    <!-- Final de painel de chamados encerrados -->
