<% @machines = Machine.all %>
<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation" class="alert alert-danger fonts">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle-o"></i></span></button>
      
      <% @order.errors.full_messages.each do |message| %>
        <% if message == "Title can't be blank" %>
          O campo <strong>Titulo</strong> não pode ficar em branco.<br>
        <% elsif message == "Description can't be blank" %>
          O campo <strong>Descrição</strong> não pode ficar em branco.<br>
        <% elsif message == "Local can't be blank"  %>
          O campo <strong>Local</strong> não pode ficar em branco.<br>
        <% elsif message == "Local muito longo." %>
          O campo <strong>Local</strong> não pode conter mais que 50 caracteres.<br>
        <% elsif message == "Description muito longa." %>
          O campo <strong>Descrição</strong> não pdoe conter mais que 500 caracteres.<br>
        <% end %>
      <% end %>
    </div>
  <% end %>
<div class="form_size">
  <% if current_user.tipo != 'Funcionário' %>
  <div class="form-group">
    <%= f.text_field :title, :class => 'form-control', placeholder: 'Titulo do Chamado' %>
  </div>
  <div class="form-group">
    <%= f.text_field :local, :class => 'form-control', placeholder: 'Local do Chamado Ex: Sala A205' %>
  </div>
  <div class="form-group">
    <%= f.text_area :description, :class => 'form-control', placeholder: 'Descrição', rows: 10, onKeyDown: 'conta()', onKeyUp: "conta()" %>
    <input type="text" name='caracteres' size='4' class="col-md-offset-11" style="border-color: transparent;">
  </div>
  <% end %>
  <% if current_user.tipo != 'Solicitante' %>
    <div class="form-group">
      <%= label_tag 'Status' %>
      <%= select :order, :status, [['Pendente'], ['Ativo'], ['Encerrado']], :class => 'selectpicker' %>
    </div>
    <div class="form-group">
      <%= label_tag 'Maquina' %>
      <%= select :order, :machine_id, @machines.map{ |m| [m.id] }.push(['Não cadastrada']), :class => 'selectpicker' %>
    </div>
  <% else %>
    <div class="form-group">
      <%= f.hidden_field :status, :class => 'selectpicker', :value => 'Pendente' %>
      <%= f.hidden_field :machine_id, :class => 'selectpicker', :value => 'Não cadastrada' %>
    </div>
  <% end %>
  <center>
    <div class="actions">
      <div class="btn-group btn-group-xs" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <%= f.submit 'Salvar', :class => 'btn btn-danger' %> 
        </div>
        <% if current_user.tipo == 'Solicitante' %>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-danger" onclick="window.location.href='<%= orders_path %>'"><i class="fa fa-undo"></i> Voltar</button>
        </div>
        <% else %>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-danger" onclick="window.location.href='<%= order_path(@order.id) %>'"><i class="fa fa-undo"></i> Voltar</button>
        </div>
        <% end %>
      </div>
    </div>
  </center>
</div>
<% end %>
