<div class ="container-fluid">
  <center>
      <% if notice %>
        <center>
          <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= notice %>
          </div>
        </center>
      <% end %>
    <!-- Painel de chamados abertos -->
    <div class="panel panel-green">
      <div class="panel-heading MyFont"><h4>Chamados Abertos</h4></div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Criado</th>
            <th>Título</th>
            <th>Local</th>
            <th>Data</th>
            <th>Status</th>
            <th>Ver</th>
          </tr>
        </thead>
      
        <tbody>
          <% if current_user.tipo == 'Solicitante' %>
            <% @current_order = current_user.orders %>
          <% else %>
            <% @current_order = @orders %>
          <% end %>
          
          <% @current_order.each do |order| %>
            <% if order.status != 'Encerrado' %>
            <tr>
              <td><%= User.find_by(id: order.user_id).name %></td>
              <td><%= order.title %></td>
              <td><%= order.local %></td>
              <td><%= order.created_at.strftime("%m/%d/%Y") %></td>
              <td><%= order.status %></td>
              <td>
                <%= link_to '<i class="fa fa-plus-square-o"></i>'.html_safe, order_path(order), id: "Ver chamado", style: "color: black;" %>
              </td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <!-- Final de painel de chamados abertos -->
    <!-- Painel de chamados encerrados -->
    <div class="panel panel-red">
      <div class="panel-heading MyFont"><h4>Chamados Encerrados</h4></div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Local</th>
            <th>Data</th>
            <th>Status</th>
            <th>Ver</th>
          </tr>
        </thead>
      
        <tbody>
          <% if current_user.tipo == 'Solicitante' %>
            <% @current_order = current_user.orders %>
          <% else %>
            <% @current_order = @orders %>
          <% end %>
          
          <% @current_order.each do |order| %>
            <% if order.status == 'Encerrado' %>
            <tr>
              <td><%= order.id %></td>
              <td><%= order.title %></td>
              <td><%= order.local %></td>
              <td><%= order.created_at.strftime("%m/%d/%Y") %></td>
              <td><%= order.status %></td>
              <td>
                <%= link_to '<i class="fa fa-plus-square-o"></i>'.html_safe, order_path(order), id: "Ver chamado", style: "color: black;" %>
              </td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <!-- Final de painel de chamados encerrados -->
    <br>
    <%= link_to '<button type="button" value ="Adicionar Chamado" class="btn btn-danger"><i class="fa fa-envelope-o"></i> Criar Chamado</button>'.html_safe, new_order_path %>
  </center>
</div>