<%= form_for(@machine) do |f| %>
  <% if @machine.errors.any? %>
    <div id="error_explanation" class="alert alert-danger fonts">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle-o"></i></span></button>
      <!-- <center><i class="fa fa-exclamation-triangle"></i> Seu formulário contem <%= pluralize(@machine.errors.count, "erro") %><br></center>
      <hr>
      <% @machine.errors.full_messages.each do |message| %>
        <% if message == "Tipping can't be blank" %>
          O campo <strong>Tipo</strong> não pode ficar em branco.<br>
        <% elsif message == "Description can't be blank" %>
          O campo <strong>Descrição</strong> não pode ficar em branco.<br>
        <% elsif message == "Model can't be blank"  %>
          O campo <strong>Modelo</strong> não pode ficar em branco.<br>
        <% else %>
          <%= message %><br>
        <% end %>
      <% end %>-->
      Atenção, nenhum campo poderá ficar em branco.
    </div>
  <% end %>
<div class="form_size">
  <div class="form-group">
    <%= f.text_field :tipping, :class => 'form-control', placeholder: 'Tipo da maquina', onkeypress: 'return isOnlyNumberAndLettersKey(event)' %>
  </div>
  <div class="form-group">
    <%= f.text_area :description, :class => 'form-control', placeholder: 'Descrição' %>
  </div>
  <div class="form-group">
    <%= f.text_field :model, :class => 'form-control', placeholder: 'Modelo da maquina', onkeypress: 'return isOnlyNumberAndLettersKey(event)' %>
  </div>
  <center>
    <div class="actions">
      <div class="btn-group btn-group-xs" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <%= f.submit 'Salvar maquina', :class => 'btn btn-danger' %> 
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-danger" onclick="window.location.href='<%= machines_path %>'"><i class="fa fa-undo"></i> Voltar</button>
        </div>
      </div>
    </div>
  </center>
</div>
<% end %>

<!--
  
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="home">ashdashd</div>
    <div role="tabpanel" class="tab-pane fade" id="profile">asdashhdsa</div>
    <div role="tabpanel" class="tab-pane fade" id="messages">asdashd</div>
    <div role="tabpanel" class="tab-pane fade" id="settings">ahsdahsdhsa</div>
  </div>
-->
<!-- Button trigger modal -->