<div class ="container">
  <center><h1>Lista de Maquinas</h1>
  <p id="notice" class="bg-success"><%= notice %></p>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Descrição</th>
        <th>Modelo</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @machines.each do |machine| %>
        <tr>
          <td><%= machine.tipping %></td>
          <td><%= machine.description %></td>
          <td><%= machine.model %></td>
          <td><%= link_to 'Ver', machine %></td>
          <td><%= link_to 'Excluir', machine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= button_to "Nova Maquina", { action: "new" }, method: :get, :class => 'btn btn-success' %>
</center></div>