<div class ="container-fluid">
  <center>
    <div class="form_size_show">
      <% if notice %>
        <center><div class="alert text-success" role="alert"><p id="notice"><%= notice %></p></div></center>
      <% end %>
      <div class="panel panel-primary">
        <div class="panel-heading MyFont"><h4>Informações da Maquina</h4></div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Descrição</th>
              <th>Modelo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @machine.tipping %></td>
              <td><%= @machine.description %></td>
              <td><%= @machine.model %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="btn-group btn-group-xs" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-danger" onclick="window.location.href='<%= edit_machine_path(@machine) %>'"><i class="fa fa-pencil-square-o"></i> Editar</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-danger" onclick="window.location.href='<%= new_machine_path %>'"><i class="fa fa-plus"></i> Adicionar maquina</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-danger" onclick="window.location.href='<%= machines_path %>'"><i class="fa fa-undo"></i> Voltar</button>
        </div>
      </div>
    </div>
  </center>
</div>
