<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="/images/smart-icon.png" type="image/x-icon" />
  <title>SmartCase</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <script type='text/javascript' src='/js/pace.min.js'></script>
    <!-- Fonte do GOOGLE -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
     <!-- CSS Customizado para o template-->
    <link href="/css/morris-0.4.3.min.css" rel="stylesheet" />
      <!-- CSS Customizado para o template-->
    <link href="/css/custom.css" rel="stylesheet" />
</head>
<body>
      <!-- Variavel @usuario utilizada para fazer uma única requisição para mostrar as informações do usuário na barra 
            e quando ele for visualizar o seu perfil -->
      <% @usuario = User.find_by(id: session[:user_id]) %>
      <!-- Início do NavBar -->
      <nav class="navbar-inverse">
        <div>
          <div style="color: white; padding: 15px 50px 5px 10px; float: left; font-size: 16px;">
            <strong style="color: #46D400;"><i class="fa fa-spinner fa-spin"></i> Online:</strong> <%= @usuario.name %>
          </div>
        </div>
        <div class="col-md-offset-10" style="padding: 10px 0px 10px 50px;">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <i class="fa fa-cog"></i>
              Configurações
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="" data-toggle="modal" data-target="#myInfo"><i class="fa fa-user"></i> Perfil</a></li>
              <li><a href="<%= edit_user_path(session[:user_id]) %>"><i class="fa fa-pencil-square-o"></i> Editar</a></a></li>
              <li role="separator" class="divider"></li>
              <li><a href="" data-toggle="modal" data-target="#myLogout"><i class="fa fa-sign-out"></i> Sair</a></li>
            </ul>
          </div>
        </div>
        <!--Fim NavBar -->
    </nav>
	<div id="wrapper">
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a  href="/index" class="<%= @menuHome %>"><i class="fa fa-home fa-3x fa-fw"></i> Ìnicio</a>
                    </li>
                    <li>
                        <a  href="<%= orders_path %>"><i class="fa fa-envelope-o fa-3x fa-fw"></i> Chamados</a>
                    </li>
                    <% unless session[:user_tipo] == 'Solicitante' %>
                      <li>
                          <a  class="<%= @menuPainel %>" href="<%= painel_path %>"><i class="fa fa-tachometer fa-3x fa-fw"></i> Dashboard</a>
                      </li>
                      <li>
                          <a  class="<%= @menuMachine %>" href="<%= machines_path %>"><i class="fa fa-desktop fa-3x fa-fw"></i> Maquinas</a>
                      </li>
                      <li>
                          <a  class="<%= @menuUser %>" href="<%= users_path %>"><i class="fa fa-user fa-3x fa-fw"></i> Usuários</a>
                      </li>
                    <% end %>
                    <!-- <li>
                        <a  href="" data-toggle="modal" data-target="#myLogout"><i class="fa fa-sign-out fa-3x fa-fw"></i> Sair</a>
                    </li> -->
                </ul>
            </div>
        </nav>  
        <div id="page-wrapper" >
            <div id="page-inner"> 
			    <%= yield %>
			    <%= debug(params) if Rails.env.development? %>
			</div>
        </div>
    </div>
    <footer class="footer foot_back" style="background-color: #151515;">
      <div class="container">
        <center>
            <p class="text-muted" style="color: #fff;"><i class="fa fa-copyright"></i> Copyright 2015 - Grupo <strong>SmartCase</strong>, todos os direitos reservados.</p>
        </center>
      </div>
    </footer>
    <!-- Menu logout window -->
    <%= render 'users/logout_window' %>
    <!-- Perfil do usuário -->
    <%= render 'users/perfil_window' %>
</body>
</html>