<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="/images/smart-icon.png" type="image/x-icon" />
  <title>SmartCase</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <script type='text/javascript' src='/css-system/js/pace.min.js'></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
     <!-- FONTAWESOME STYLES-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
     <!-- MORRIS CHART STYLES-->
    <link href="/css-system/morris-0.4.3.min.css" rel="stylesheet" />
      <!-- CUSTOM STYLES-->
    <link href="/css-system/custom.css" rel="stylesheet" />
</head>
<body>
	<div id="wrapper">
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a  href="/index" class="<%= @menuHome %>"><i class="fa fa-home fa-3x fa-fw"></i> Ìnicio</a>
                    </li>
                    <li>
                        <a  href="#"><i class="fa fa-envelope-o fa-3x fa-fw"></i> Chamados</a>
                    </li>
                    <li>
                        <a  class="<%= @menuMachine %>" href="<%= machines_path %>"><i class="fa fa-desktop fa-3x fa-fw"></i> Maquinas</a>
                    </li>
                    <li>
                        <a  class="<%= @menuUser %>" href="<%= users_path %>"><i class="fa fa-user fa-3x fa-fw"></i> Usuários</a>
                    </li>
                    <li>
                        <a  href="" data-toggle="modal" data-target="#myLogout"><i class="fa fa-sign-out fa-3x fa-fw"></i> Sair</a>
                    </li>
                </ul>
            </div>
        </nav>  
        <div id="page-wrapper" >
            <div id="page-inner"> 
			    <%= yield %>
			    <%= debug(params) if Rails.env.development? %>
			</div>
        </div>
    </div>
    <footer class="footer foot_back">
      <div class="container">
        <center>
            <p class="text-muted"><i class="fa fa-copyright"></i> Copyright 2015 - Grupo <strong>SmartCase</strong>, todos os direitos reservados.</p>
        </center>
      </div>
    </footer>
    <!-- Menu logout window -->
    <div class="modal fade" id="myLogout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <center><h3 class="modal-title MyFont2">Você deseja mesmo sair?</h3></center>
          </div>
            <div class="modal-footer">
              <center>
              <%= link_to '<button type="button" class="btn btn-lg btn-success"><i class="fa fa-thumbs-o-up"></i> Sim</button>'.html_safe, logout_path, method: 'delete' %>
              <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal"><i class="fa fa-thumbs-o-down"></i> Não</button>
              </center>
            </div>
        </div>
      </div>
    </div>
</body>
</html>