<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="/images/smart-icon.png" type="image/x-icon" />
  <title>SmartCase</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
     <!-- FONTAWESOME STYLES-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
     <!-- MORRIS CHART STYLES-->
    <link href="/css-system/morris-0.4.3.min.css" rel="stylesheet" />
      <!-- CUSTOM STYLES-->
    <link href="/css-system/custom.css" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
	<div id="wrapper">
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a  href="#"><i class="fa fa-envelope-o fa-3x"></i> Chamados</a>
                    </li>
                    <li>
                        <a  class="<%= @menuMachine %>" href="<%= machines_path %>"><i class="fa fa-desktop fa-3x"></i> Maquinas</a>
                    </li>
                    <li>
                        <a  class="<%= @menuUser %>" href="<%= users_path %>"><i class="fa fa-user fa-3x"></i> Usuários</a>
                    </li>
                    <li>
                        <a  href="#"><i class="fa fa-power-off fa-3x"></i> Sair</a>
                    </li>
                </ul>
            </div>
        </nav>  
        <div id="page-wrapper" >
            <div id="page-inner"> 
			    <%= yield %>
			    <%= debug(params) if Rails.env.development? %>
			</div>
        </div>
    </div>
    <footer class="footer foot_back">
      <div class="container">
        <center>
            <p class="text-muted"><i class="fa fa-copyright"></i> Copyright 2015 - Grupo <strong>SmartCase</strong>, todos os direitos reservados.</p>
        </center>
      </div>
    </footer>
</body>
</html>
